<h1>New user</h1>

<%= form_with model: @user do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %>
  <%= form.label :email %>
  <%= form.email_field :email %>
  <%= form.submit "Submit" %>
<% end %>