<h1>User profile</h1>
<% if session[:current_user_id].nil? %>
  <%= "No user logged in" %>
<% else %>
  <%= "Username: " + current_user.username %><br>
  <%= "Email: " + current_user.email %><br>
  <h2>Events created:</h2><br>
  <% current_user.events_created.each do |event| %>
    <%= "Name: " + event.name %><br>
  <% end %>

  <h2>Previously attended events:</h2><br>
<% if @events_past.nil? %>
  <%= "No past event" %>
<% else %>
  <% @events_past.each do |event| %>
    <%= link_to event.name, event %>
  <% end %>
<% end %>
<h2>Upcoming events:</h2><br>
<% if @events_upcoming.nil? %>
  <%= "No upcoming event" %>
<% else %>
  <% @events_upcoming.each do |event| %>
    <%= link_to event.name, event %>
  <% end %>
<% end %>

<% end %>