<h1> Event </h1>
<%= "Name: " + @event.name %><br>
<%= "Creator: " + @event.creator.username %><br>
<%= "Attendees: "%><br>
<% @event.attendees.each do |attendee| %>
  <%= attendee.username %><br>
<% end %>
<%= button_to "Join event", subscriptions_path, params: { id: @event.id }, method: "post" %>